<a href="https://colab.research.google.com/github/NakkaBhavith/450/blob/main/Alzheimers(Randomforest).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [36]:
import pandas as pd
from sklearn.model_selection import train_test_split 
from sklearn.ensemble import RandomForestClassifier 
from sklearn import metrics
from sklearn.metrics import confusion_matrix, accuracy_score
import numpy as np

In [37]:
col_names = ['Subject ID', 'MRI ID', 'Group', 'Visit', 'MR Delay', 'M/F', 'Hand', 'Age', 'EDUC', 'SES', 'MMSE', 'CDR', 'eTIV', 'nWBV', 'ASF']
# load dataset
data = pd.read_csv("/content/drive/MyDrive/AI Data/oasis_longitudinal.csv")
data.head()

  Subject ID         MRI ID        Group  Visit  ...  CDR  eTIV   nWBV    ASF
0  OAS2_0001  OAS2_0001_MR1  Nondemented      1  ...  0.0  1987  0.696  0.883
1  OAS2_0001  OAS2_0001_MR2  Nondemented      2  ...  0.0  2004  0.681  0.876
2  OAS2_0002  OAS2_0002_MR1     Demented      1  ...  0.5  1678  0.736  1.046
3  OAS2_0002  OAS2_0002_MR2     Demented      2  ...  0.5  1738  0.713  1.010
4  OAS2_0002  OAS2_0002_MR3     Demented      3  ...  0.5  1698  0.701  1.034

[5 rows x 15 columns]

In [38]:
data.drop(['Subject ID','MRI ID','Hand','Visit','MR Delay'], axis = 1, inplace = True)
# Checking for null values
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 373 entries, 0 to 372
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Group   373 non-null    object
 1   M/F     373 non-null    object
 2   Age     373 non-null    int64
 3   EDUC    373 non-null    int64
 4   SES     354 non-null    float64
 5   MMSE    371 non-null    float64
 6   CDR     373 non-null    float64
 7   eTIV    373 non-null    int64
 8   nWBV    373 non-null    float64
 9   ASF     373 non-null    float64
dtypes: float64(5), int64(3), object(2)
memory usage: 29.3+ KB
None

In [39]:
pd.isnull(data).sum()

Group     0
M/F       0
Age       0
EDUC      0
SES      19
MMSE      2
CDR       0
eTIV      0
nWBV      0
ASF       0
dtype: int64

In [40]:
data = data.dropna(axis=0, how='any')
pd.isnull(data).sum()

Group    0
M/F      0
Age      0
EDUC     0
SES      0
MMSE     0
CDR      0
eTIV     0
nWBV     0
ASF      0
dtype: int64

In [41]:
# Converting the categorical variable into numerical
varlist1 =  ['M/F']
varlist2 = ['Group']

# Defining the map function
def binary_map1(x):
    return x.map({'M': 1, "F": 0})
def binary_map2(y):
    return y.map({'Demented' : 1, 'Nondemented' : 0, 'Converted' : 0})

data[varlist1] = data[varlist1].apply(binary_map1)
data[varlist2] = data[varlist2].apply(binary_map2)

In [44]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()

# Applying scaler() to all the columns except the 'yes-no' and 'dummy' variables
num_vars = ['Age', 'EDUC', 'SES', 'MMSE', 'eTIV', 'ASF']
data[num_vars] = scaler.fit_transform(data[num_vars])

data

     Group  M/F       Age      EDUC  ...  CDR      eTIV   nWBV       ASF
0        0    1  0.710526  0.470588  ...  0.0  0.981069  0.696  0.009845
1        0    1  0.736842  0.470588  ...  0.0  1.000000  0.681  0.000000
5        0    0  0.736842  0.705882  ...  0.0  0.121381  0.710  0.798875
6        0    0  0.789474  0.705882  ...  0.0  0.104677  0.718  0.824191
7        0    1  0.526316  0.352941  ...  0.0  0.649220  0.712  0.229255
..     ...  ...       ...       ...  ...  ...       ...    ...       ...
368      1    1  0.578947  0.588235  ...  0.5  0.653675  0.694  0.226442
369      1    1  0.684211  0.588235  ...  0.5  0.648107  0.675  0.230661
370      0    0  0.026316  0.411765  ...  0.0  0.237194  0.801  0.639944
371      0    0  0.078947  0.411765  ...  0.0  0.246102  0.796  0.628692
372      0    0  0.131579  0.411765  ...  0.0  0.252784  0.801  0.620253

[354 rows x 10 columns]

In [45]:
#split dataset in features and target variable
feature_cols = ['M/F', 'Age', 'EDUC', 'SES', 'MMSE', 'CDR', 'eTIV', 'nWBV', 'ASF']
X = data[feature_cols] # Features
y = data.Group # Target variable

In [46]:
# Split dataset into training set and test set
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.4, random_state=1)

In [47]:
# Create Random Forest classifer object
clf = RandomForestClassifier()

# Train Random Forest Classifer
clf = clf.fit(X_train,y_train)

In [48]:
#Predict the response for test dataset
y_pred = clf.predict(X_test)
y_pred1 = clf.predict(X_train)

In [58]:
import math
from sklearn.metrics import mean_squared_error 
from sklearn.metrics import mean_absolute_error

#Training Accuracies
rmse = math.sqrt(mean_squared_error(y_train, y_pred1)) 
print('Root mean square error', rmse) 
mse = (mean_squared_error(y_train, y_pred1)) 
print('Mean square error', mse) 
mae=mean_absolute_error(y_train, y_pred1)
print('Mean absolute error', mae)

Root mean square error 0.1535737792084878
Mean square error 0.02358490566037736
Mean absolute error 0.02358490566037736

In [59]:
#Testing Accuracies
rmse = math.sqrt(mean_squared_error(y_test, y_pred)) 
print('Root mean square error', rmse) 
mse = (mean_squared_error(y_test, y_pred)) 
print('Mean square error', mse) 
mae=mean_absolute_error(y_test, y_pred)
print('Mean absolute error', mae)

Root mean square error 0.18764665626020038
Mean square error 0.035211267605633804
Mean absolute error 0.035211267605633804

In [56]:
# Create Random Forest classifer object
clf = RandomForestClassifier(criterion="entropy", max_depth=4)

# Train Random Forest Classifer
clf = clf.fit(X_train,y_train)

#Predict the response for test dataset
y_pred = clf.predict(X_test)
y_pred1 = clf.predict(X_train)

# Model Accuracy, how often is the classifier correct?
print("Testing Accuracy:",metrics.accuracy_score(y_test, y_pred))
print("Training Accuracy:",metrics.accuracy_score(y_train, y_pred1))

Testing Accuracy: 0.9647887323943662
Training Accuracy: 0.9764150943396226

In [61]:
confusion_matrix(y_test, y_pred)

array([[83,  3],
       [ 2, 54]])

In [62]:
confusion_matrix(y_train, y_pred1)

array([[136,   5],
       [  0,  71]])

In [63]:
import pickle
# Save the model
filename = 'model.pkl'
pickle.dump(clf, open(filename, 'wb'))

In [66]:
list_of_columns = data.columns
input_data=pd.DataFrame(columns=list_of_columns)
input_data.drop(['Group'], axis='columns', inplace=True)

input_data.at[0, 'M/F'] = input('enter Gender : ')
input_data.at[0, 'Age'] = int(input('enter Age : '))
input_data.at[0, 'EDUC'] = int(input('enter education : '))
input_data.at[0, 'SES'] = float(input('enter SES : '))
input_data.at[0, 'MMSE'] = float(input('enter MMSE : '))
input_data.at[0, 'CDR'] = float(input('enter CDR : '))
input_data.at[0, 'eTIV'] = float(input('enter eTIV : '))
input_data.at[0, 'nWBV'] = float(input('enter nWBV : '))
input_data.at[0, 'ASF'] = float(input('enter ASF : '))

# Defining the map function
def binary_map(x):
    return x.map({'M': 1, "F": 0})

input_data[varlist1] = input_data[varlist1].apply(binary_map)

model = pickle.load(open('model.pkl', 'rb'))
prediction = model.predict(input_data)
result = prediction[0]
print('Will he/she suffer with Alzheimers : ',result)

enter Gender : M
enter Age : 82
enter education : 12
enter SES : 3
enter MMSE : 27
enter CDR : 0.5
enter eTIV : 1420
enter nWBV : 0.713
enter ASF : 1.236
Will he/she suffer with Alzheimers :  1